.titulo{

    color: #0b1f34;
    font-weight: bold;

}

.paragrafo{
    font-size: 25px;
}

.btn-orange{

    background-color: #0b1f34;
    color: white;
}

label{
    font-weight: bold;
}

.box-vagas{

    width: 400px;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas{
    background-color: #0b1f34;
    padding: 15px;
    color: white
}

.body-vagas{
    padding: 15px;
}

.paragrafo-orange{
    color: #ed7947;
}